<nb-reveal-card [showToggleButton]="false" [revealed]="revealed">
 
 <nb-card-front size="small">

    <nb-card size="small">
      <ngx-chart-header></ngx-chart-header>
      
      <ngx-front-side></ngx-front-side>
      <i class="nb-arrow-up" (click)="toggleView()"></i>
   
    </nb-card>

  </nb-card-front>
  
  <nb-card-back size="small">
    <nb-card size="small">
      <ngx-chart-header></ngx-chart-header>
    
      <ngx-front-side></ngx-front-side>
      <i class="nb-arrow-down" (click)="toggleView()"></i>

    </nb-card>
  </nb-card-back>
</nb-reveal-card>
