<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Yolo</nb-card-header>
      <nb-card-body>
        <ngx-dashboard-tweetsStatsBars></ngx-dashboard-tweetsStatsBars>
      </nb-card-body>
    </nb-card>
  </div>
<div class="col-lg-6">
    <nb-card>
      <nb-card-header>Yolo</nb-card-header>
      <nb-card-body>
        <ngx-dashboard-tweetsStatsPie></ngx-dashboard-tweetsStatsPie>
      </nb-card-body>
    </nb-card>
  </div>
   <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Yolo</nb-card-header>
      <nb-card-body>
        <ngx-dashboard-retweetsStatsBars></ngx-dashboard-retweetsStatsBars>
      </nb-card-body>
    </nb-card>
  </div>
<div class="col-lg-6">
    <nb-card>
      <nb-card-header>Yolo</nb-card-header>
      <nb-card-body>
        <ngx-dashboard-retweetsStatsPie></ngx-dashboard-retweetsStatsPie>
      </nb-card-body>
    </nb-card>
  </div>
      <div class="col-md-6">
       <nb-card class="list-card" size="small">
      <nb-card-header>Hub Users</nb-card-header>
      <nb-card-body>
        <ngx-home-hubUsers></ngx-home-hubUsers>
      </nb-card-body>
    </nb-card>
      </div>
    <div class="col-md-6">
       <nb-card class="list-card" size="small">
      <nb-card-header>Retweeters</nb-card-header>
      <nb-card-body>
        <ngx-home-retweeters></ngx-home-retweeters>
      </nb-card-body>
    </nb-card>
      </div>
    </div>
    </div>
</div>

